<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--用户ID，可用于发送网络日志时区分用户-->
  <variable name="UserId" value="Unkown"/>
  <!--日志文件根目录，在Unity中一般为 Application.persistentDataPath-->
  <variable name="LogRoot" value=""/>
  <variable name="LogName" value="COTDLog_${startTime}.log"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="UnityConsole" name="unity"
            layout="${time}|${level:uppercase=true}|Fr-${frameIndex}|${logger} - ${message} ${exception}" />
    <target xsi:type="File" name="file" fileName="${var:LogRoot}/Logs/${LogName}"
            layout="${longdate}|${level:uppercase=true}|UID-${var:UserId}|Fr-${frameIndex}|${logger} - ${message} ${exception}" />
    <!--<targets xsi:type="AsyncWrapper" name="async">-->
    <!-- <target xsi:type="Network" address="tcp://10.0.0.100:10086" name="network" newLine="true" maxMessageSize="65000"
             layout="${date}|${level:uppercase=true}|${var:UserId}|${message} ${exception}"/> -->
    <!--</targets>-->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <logger name="*" minlevel="Trace" writeTo="file,unity,network" />
  </rules>
</nlog>